:root {
  --maxWidth: 1200px;

  --contentPadding: 40px;

  /* colors */
  --white: rgb(220, 220, 220);
  --buttonBlue: #24a0ed;
  --descriptionColor: rgb(80,80,80);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.app {
  background-color: black;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../../../res/hero2.jpg');

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.content {
  width: 100%;
  margin: auto;
  max-width: var(--maxWidth);
}

/* form pages */
.form {
  max-width: 60vw;
  height: fit-content;
  max-height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

  border: solid var(--white) 2px;
  border-radius: 20px;

  color: var(--white);
  text-align: center;

  padding: 25px 100px 25px 100px;
  margin: 5vh auto;

  background-color: rgba(0, 0, 0, 0.6);
  filter: drop-shadow(0 0 0.2rem black);
}

.form>h1 {
  margin:0;
}

.form>* {
  margin: 0;
}

.form-division {
  width: 100%;
  display: flex;
  gap: 50px;
}

.form-division>div{
  display:flex;
  flex-direction: column;
  width: 100%;
}

.form>label, .form-label {
  text-align: left;
  font-size: 20px;

  margin-top: 20px;
}

.form>input, .form-input {
  font-size: 24px;

  background: none;
  color: var(--white);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid var(--white);
  outline: 0;
}

.form>input:focus, .form-input:focus {
  border-bottom: 2px solid var(--buttonBlue);
}

.form>input::placeholder, .form-input::placeholder {
  color: rgb(146, 146, 146);
}

.form-button {
  width: 200px;
  height: 50px;

  margin-top: 32px;

  margin: 32px auto 10px auto;

  font-size: 24px;

  border-radius: 5px;
  border: none;

  color: white;
  background-color: var(--buttonBlue);
}



.form-button:active {
  filter: brightness(80%);
}

.form-button:hover {
  transform: translateY(2px);
  cursor: pointer;
}

.record-button {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  font-weight: 600;
  color:var(--white);
  margin: 0 0 0 10px;
  font-size: 18px;
  overflow: hidden;
  text-decoration: none;
  border-radius: 5px;
  filter: drop-shadow(0 0 0.3rem black);
}

.record-button:hover {
  transform: translateY(2px);
  cursor: pointer;
  color: var(--white);
}

.record-button:active {
  filter: brightness(80%);
}
