.access-forbidden.content {
    width: 100%;
    margin-top: 10vh;
    background-color: rgba(0, 0, 0, 0.5);
    text-align:center;
    display:flex;
    justify-content: center;
    color: var(--white);
    height: 20vh;
}

.access-forbidden>h1{
    margin: auto 0;
}