.nav-link {
    margin-left: 20px;
    color: var(--white);
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 1.2px;
}

.nav-link {

}

.button-filled {
    background-color: var(--buttonBlue);
    padding: 7px;
    border-radius: 5px;
    margin-left: 20px;
}

.nav-link:hover {
    transform: translateY(2px);
}

.nav-links {
    display:flex;
    align-items: center;
}