.headline {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;

    margin-top: 5vh;
    margin-bottom: 5vh;
}

.headline>section {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headline>section>.form-button {
    width: 150px;
    height: 50px;
    font-weight: 600;
    color:var(--white);
    margin: 0 0 0 10px;
    font-size: 18px;
    overflow: hidden;
}

.headline>section>h1{
    font-weight: 1000;
    color: var(--white)
}

.activity-body {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.stat-container {
    width: 300px;
    height: 250px;
    background-color: blue;
}

